/* styles.css */

.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}


/* ------------- */


.sign-form {
  border: 1px solid #ccc;
  padding: 20px;
}

.sign-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.sign-form button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.sign-form button:hover {
  background-color: #555;
}

.sign-link {
  margin-top: 10px;
}

.error-message {
  color: #ff0000;
  margin-top: 5px;
}

/* Add these styles to your styles.css or equivalent */




